<div ng-controller="DbCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Test wzorca</div>
    <div class="panel-body">

      <form>
        <button class="btn btn-success" ng-click="clear()">Wyczyśc bazę danych</button>
      </form>
      <json-formatter json="storage.testDatabase" open="1" style="padding-top: 30px;"></json-formatter>
    </div>
  </div>
</div>
