<div class="jumbotron">
  <p>Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Nazywał się z kamienia i z żoną i Moskalom przez grzeczność nie miał za dozorcę księdza, który go grzecznie, na prawo.</p>
</div>
<div ng-controller="MainCtrl">

  <div class="panel panel-default">
    <div class="panel-heading">Pobieranie wzorca</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="username" class="control-label">Nazwa użytkownika:</label>
          <input class="form-control" type="text" id="username" placeholder="nazwa użytkownika" ng-model="username"/>
        </div>
      <dynamics ng-show="username" test="testResults"></dynamic>
      <button ng-if="testResults" class="btn btn-success" ng-click="save(testResults)">Zapisz wyniki do bazy</button>
    </div>
  </div>

</div>
