<div class="jumbotron">
  <p>Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Nazywał się z kamienia i z żoną i Moskalom przez grzeczność nie miał za dozorcę księdza, który go grzecznie, na prawo.</p>
</div>
<div ng-controller="TestCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Test wzorca</div>
    <div class="panel-body">
      <form>
        <dynamics test="testResults"></dynamics>
        <button ng-if="testResults" class="btn btn-success" ng-click="test(testResults)">Test</button>
      </form>
    </div>
  </div>
</div>
